*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.headingcart{
margin-top: 130px;
text-align: center;
}

/* cartlist start */
.container-cart{
  display: flex;

  justify-content: space-around;
  display: none;
 
  
}

.cartlistarea{
  /* border:2px solid black; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top:40px;
  height:auto;
  overflow-y: auto;
  padding:20px;
  width:70%;  
  border-radius: 20px;
  background-color: #338b33;
}
.billingarea{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 40px;
  height:50vh;
  padding:20px;
  width:auto;  
  border-radius: 20px;

}
table{
  width:100%;
  margin: auto auto;

}

td,th,tr{
  text-align: left;
  padding:5px;
}
th{
  color:white;
}
td{
  font-weight: 600;
}

td img{
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

table img{
  height:100px;
  width:100px;  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* decrease button */
.decreasebtn,.increasebtn{
background-color: transparent;
border-radius: 50%;
padding:10px;
height:15px;
width:15px;
display: flex;
align-items: center;
justify-content: center;
font-size: 15px;
color:black;
border:2px solid black;

}

.decreasebtn:hover,.increasebtn:hover,.removebtn:hover{
background-color: white;
color:#83AE45;
cursor: pointer;
border:2px solid white;

}
/* quantity button */
.quantity{
display: flex;
align-items: center;
justify-content: flex-start;
height:120px;  
}
/* intem quantity */
.itemquntity{
margin:0px 10px;
}
/* remove button */
.removebtn{
background-color: transparent;
padding:15px;
border-radius: 20px;
color:white;
border:2px solid white;
transition: ease .4s;
}
.fa-trash{
  color:#a70606;
  cursor:pointer;
}
.fa-trash:hover{
  color:#820608;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* billing area */
.billingarea div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 250px;
  margin:5px auto;


}
.container-cart .billingarea hr{
  margin-top:20px;
}
.sub-price{
  margin-top: 20px;
}
.billing-sideheading{
  font-size: 20px;
  margin-top: 20px;
}


.proceedbtn{
  border:2px solid #338b33;
  margin-left:auto;
  margin-right: auto;
  padding:10px;
  border-radius: 15px;
  margin-top: 10px;
  color:#338b33
}
.container-cart .billingarea .proceedbtn:hover{
  background-color: #338b33;
  color:white;
  cursor: pointer;
}


.proceedbtn:hover::after{
  transform: scaleX(0);

}

/* empty cart */
#emptycart{
height:500px;
width:70%;
margin:auto auto;
display: none;
align-items: center;
justify-content: center;
}
#emptycart img{
height:400px;
width:400px;
}
#emptycart p{
font-size: 30px;
}
.emt{
color:#83AE45;
font-weight: 600;
font-family:Arial, Helvetica, sans-serif
}
.start{
font-weight: 600;
}
.shopnow{
font-size: 30px;
font-weight: 600;
color:#83AE45;
transition: ease .4s;

}
.shopnow:hover{
margin-left: 10px;
}
/* empty cart end */
.delivery-address-area{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height:70vh;
  width:60%;
  position: absolute;
  top:150px;
  left:100px;
  background-color: white;
  display:none;
  flex-wrap: wrap;
  padding:30px;
  overflow: auto;
  justify-content: flex-start;
  border-radius: 10px;

}
.delivery-address-area::-webkit-scrollbar {
  background-color: transparent;
  width:5px;

}
.delivery-address-area::-webkit-scrollbar-thumb {
  background-color: #83AE45;
  border-radius: 5px;
  overflow-y: hidden;
 
}


.delivery-address-area .delivery_address, .delivery-address-area .adddelivery-address{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 30vh;
  width: 50vh;
  margin: 15px;
  padding:10px; 
}
.adddelivery-address{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.fa-address-book{
  font-size: 50px;
  color:rgba(156, 152, 152, 0.799)
}
.addheading{
  font-size: 20px;
  color:#83AE45; 
  margin-top: 10px; 

}
.delivery-address-area .delivery_address:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 
.deliverybutton{
  padding:10px;
  background-color: transparent;
  color:#83AE45;
  border:2px solid #83AE45;
  margin-top:10px;
}
.deliverybutton:hover{
  color:white;
  background-color: #83AE45;
  cursor:pointer;
}
.close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
  color: #338b33;
}
.close-button:hover{
  color:#83AE45;
}




/* responsive css */
@media (min-width:621px) and (max-width:768px){
  .container-cart {
    display: flex;
   flex-direction: column;
   align-items: center;
  }
  .billingarea {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    height: 300px;
    padding: 20px;
    width: 70%;
    border-radius: 20px; 

 }
 
}

@media (min-width:769px) and (max-width:1024px){
  .container-cart {
    display: flex;
   flex-direction: column;
   align-items: center;
  }
  .billingarea {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    height: 300px;
    padding: 20px;
    width: 70%;
    border-radius: 20px; 
 }
}

/* @media (min-width:1025px) and (max-width:1200px){
  .container-cart {
    display: flex;
   flex-direction: column;
  }
  .billingarea {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    height: 300px;
    padding: 20px;
    width: 70%;
    border-radius: 20px; 
 }
} */




