.heading{
    text-align: center;
    font-size: 30px;
}
.cart-container{
    height:auto;
    width:80%;
    margin:auto auto;   
    padding:20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
td, th {
    border:none;
    text-align: left;
    padding: 8px;
}
td,td{
    height:auto;
    width:auto;
    
}
td img{
    height:60px;
    width:70px;
}
.emptycart{
  margin:10px auto;
  height:500px;
  margin-left:400px;
}
.checkoutbtn{
  background-color: transparent;
  height:40px;
  width:180px;
  border:2px solid #83AE45;
  color:#83AE45;
  border-radius: 20px;
  padding:10px;
}
.checkoutbtn:hover{
  background-color: #83AE45;
  color:white;
  font-weight: bold;
}
/* cart address area */
.cart-addressarea{
  position: absolute;
  border:2px solid black;
}
  