.contactformcontainer{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:70vh;
    width:60%;
    margin:auto auto;
    margin-top: 120px;
    padding:20px;
    background-color: #83AE45;
}   
.contactformcontainer h1{
    color:white;
    font-size: 30px;
}
.contactform{
    display: flex;
    flex-direction: column;
}
.personinfo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;  
}
.personinfo input{
    width:45%;
    margin: 10px 10px;
    height:50px;
    outline: none;
}
.personinfo input::placeholder{
    text-align: center;
    font-size: 15px;
}
.personinfo input[type="text"]{
    text-align: center;
    font-size: 15px;
}
.msg{
    width:100%;
    margin-top: 10px;
    margin-left: 10px;
}
textarea{
    width:90%;
}
.msg textarea::placeholder{
    font-size: 15px;
}
#submitbtn{
    width:100px;
    padding:10px;
    margin:20px auto;
    background-color: transparent;
    color:#83AE45;
    border: 2px solid white;
    transition: ease .4s;
    background-color: white;
}
#submitbtn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: bold;
    cursor: pointer;
}


/* -----responsive css----- */
@media (min-width: 320px) and (max-width:768px) {

    .contactformcontainer {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width:90%;
        height:auto;
    margin-bottom: 20px;
    }
    .logoimg {
        max-height: 70px;
        max-width: 70px;
    }
    .contactformcontainer h1 {
        color: white;
        font-size: 16px;
    }
    .personinfo input[type="text"] {
        text-align: center;
        font-size: 15px;
        width:90%;
        height:30px;
    }
    .personinfo input::placeholder{
        font-size: 12px;
    }

    
}

