body{
    overflow-x: hidden;
}
.profileedit{
    /* border:2px solid black; */
    height:70vh;
    width:70%;
    margin:100px auto;
    display:flex;
    align-items: center;
    flex-direction: row;
    
}
/* side menu start */
.sidemenu{
    width:30%;
    height:100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:20px;
}
.imagearea{
    max-height:120px;
    max-width:120px;
    border-radius: 50%;
    margin:0px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.imagearea img{
   max-height:120px;
    max-width:120px;
    border-radius: 50%;
}
.changeprofilepic{
    width:auto;
    height:auto;
    padding:10px;
    margin:10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changeprofilepic button{
    height:30px;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color:#83AE45;
    border:2px solid #83AE45;
    border-radius: 15px;
    transition: ease .4s;
}
.changeprofilepic button:hover{
    background-color: #83AE45;
    color:white;

}
#changepassword,#Addresses{
    margin:20px auto;
    text-align: center;
    padding:20px;
    font-size: 16px;
   background-color: aliceblue;
   transition: ease .4s;
}
#changepassword:hover,#Addresses:hover{
    background-color: #83AE45;
    color:white;
    cursor: pointer;

}

/* side menu end */

/* edit area start */
.editarea{
    height:100%;
    width:70%;
    padding:20px;
}
.editform{
    width:100%;
    height:55%;
    padding:8px;
  
}

.profile-edit-content{
    display: flex;
    align-items: center;
    flex-direction: row;

}
.profile-edit-content label{
    font-size: 20px;
    margin:10px 10px;
    width:150px;
}
.profile-edit-content input[type="text"],.profile-edit-content input[type="number"],.profile-edit-content input[type="email"]{
    border:none;
    border-bottom: 2px solid black;
    outline: none;
    width:300px;
    margin-left:150px;
    font-size: 20px;
}

.submit-wrapper {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #83AE45;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease .4s;
}

#submitbtn,#addressaddbtn {
    background-color: transparent;
    border: none;
    color: #83AE45;
    font-size: 15px;
    transition: ease .4s;
}

.submit-wrapper:hover #submitbtn,.submit-wrapper:hover #chagepassbtn,.submit-wrapper:hover #addressaddbtn{
    color: white;
}

.submit-wrapper:hover {
    background-color: #83AE45;
 
}
/* edit area end */




/* addressarea starts*/
.addresseditarea{
    height:50%;
    position: relative;
}
.addaddressform{
    height:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.adddiv-1{
    width:300px;
}
.adddiv-2{
    width:300px;
}
.add-address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px;
}
.add-address label{
    font-size: 18px;
}
.add-address input[type="text"]{
    border:none;
    border-bottom:2px solid black;
    outline: none;
}
#addsubmitbtn{
    width:100px;
    position:absolute;
    left:10px;
    top:80%; 
    padding:8px;
    background-color: transparent;
    color:#83AE45 ;
    border:2px solid #83AE45;  
    border-radius: 10px;
}
#addsubmitbtn:hover{
    color:white;
    background-color: #83AE45;
    cursor:pointer;
}

/* address display start */
.addressdisplay-area{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    background-color: white;
    height:80vh;
    width:30%;
    position:fixed;
    top:100px;
    left:60%;
    padding:10px;
    overflow: auto;
    display: none;
   flex-wrap: wrap;

}
.addressdisplay-area-open{
    display: flex;  
}
.fa-xmark{
    font-size: 25px;
}
.fa-xmark:hover{
    color:#83AE45
}
.displayaddress{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:80%;
    height:auto;
    margin:10px auto;
    padding:10px;
    font-size: 18px; 
}
.displayaddress:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.editandelete{
    height:30px;
    width:120px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-pen-to-square{
    color:#83AE45;
}
.fa-trash{
    color:rgb(148, 16, 16)
}
.fa-pen-to-square:hover,.fa-trash:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
/* address display end */

/* password start area */
.display-passwordarea{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height:50vh;
    width:70vh;
    position:relative;
    left:550px;
    top:-500px;   
    display:none;
    align-items: center;
    flex-direction: column;
}
.display-passwordarea h4{
    margin-top: 20px;
    font-size: 20px;
    color:#83AE45
}

.openPasswordarea{
    display:flex;
}
.changepassword_form{
    display:flex;
    flex-direction: column;
   align-items: center;
   width:100%;
}
.currentpassword input[type="password"],.newpassword input[type="password"],.confirmpassword input[type="password"]{
    border:none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: transparent;
    width:250px;
}
.currentpassword input[type="text"],.newpassword input[type="text"],.confirmpassword input[type="text"]{
    border:none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: transparent;
    width:250px;
}
.currentpassword,.newpassword,.confirmpassword{
    display: flex;
    align-items: center;
    flex-direction: row;
    width:90%;
    margin-top:30px;
    justify-content: space-around;
}
.currentpassword label,.newpassword label,.confirmpassword label{
    font-size: 15px;
    font-weight: 600;;
}
#chagepassbtn{
    background-color: transparent;
    padding:10px;
    width:150px;
    border-radius: 10px;
    color:#83AE45;
    border:2px solid #83AE45;
    margin-top: 30px;
}
.showpass:hover{
    cursor: pointer;
}
.closepass{
    color:red;
    padding:5px;
    background-color: transparent;
    border:2px solid red;
    margin-top:30px;
    border-radius: 10px;
    cursor: pointer;
}


