.shop-container1{
    border:2px solid black;
    height:400px;
    width:100%;
    margin-top:120px;
}

.shop-container1 img{
    height:400px;
    width:100%;
}
.shopoverlay{
    background-color: rgba(36, 32, 32, 0.434);
    position: absolute;
    top:0px;
    z-index: 20px;
    height:400px;
    width:100%;
    margin-top:120px;
}

/* category bar start*/
.categorybar {
    width: 40vw;
    height: 100px;
    overflow-x: auto;
    white-space: nowrap;
    margin:50px auto;
    padding:10px;
  }
  .scrollable {
    width: 100vw;
    display: flex;
    height:50px;  
  }
   .categorybar::-webkit-scrollbar {
    display: none;
  }
  .inner-div {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 200px;
    height: 100%;
    background-color: transparent;
    border-right: 1px solid #ccc;
    border: 2px solid #83AE45;
    margin: 10px 50px;
    text-align: center;
    border-radius: 15px;
  }
  .inner-div a{
    margin: 10px auto;
    color:#83AE45;
  }
  .categorybar .inner-div:hover{
    background-color: #83AE45;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
.categorybar a::after{
    height:0px 
}
.categorybar .inner-div:hover a{
    color:white;
}
.categorybar .inner-div a{
    color:#83AE45;
}   
/* category bar end*/


/* category1 products start */
.category1-heading,.category2-heading{
    margin-left: 120px;
 }
 .category1-products,.category2-products{
   
     height:auto;
     width:100%;
 
     padding:30px;
 }
 .products-container{
    
     height:auto;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     width:90%;
     margin:auto auto;
     
  
 }
 .productcard{
     height:420px;
     width:280px;
     margin:20px;
     background-color: #4caf4f6e;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
     padding:10px;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;
     border-radius: 10px;
 }
 .product-image-container{
     height:180px;
     width:100%;
 }
 .product-image-container img{
     height:180px;
     width:100%;
 }
 .pId{
     display: none;
 }
 .desc{
     text-align: center;
     font-size: 14px;
 }
 .price-quantity{
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-between;
     font-size: 15px;    
 }
 .price-quantity p{
     margin: 0 15px;
 }
 .cartbutton{
     background-color: transparent;
     padding: 10px;
     border-radius: 15px;
     border: 2px solid #83AE45;
     color:#83AE45;
     transition: ease .4s; 
 }
 .cartbutton:hover{
 background-color: #83AE45;
 color:white;
 }



/* responsive styles  */
@media (min-width:320px) and (max-width:480px){
    .categorybar {
        width: 100%;
    }
    .scrollable {
        width: 100vw;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .inner-div{
        padding:0px;
    }
    .category1-heading, .category2-heading {
        margin-left: auto;
        margin-right: auto;
    }
    .category1-products, .category2-products {
        height: auto;
        width: 100%;
        padding: 10px;
    }
    .products-container {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin: auto auto;
    }
    footer{
        flex-direction:column-reverse;
        margin-top:10vh;
    }

}

@media (min-width:481px) and (max-width:768px){
 
    .categorybar {
        width: 100%;
    }
    .scrollable {
        width: 100vw;
        display: flex;
        height: 50px;
    }
    .inner-div{
        margin:0px auto; 
    }

    .category1-heading, .category2-heading {
        margin-left: 80px;
        margin-right: auto;
    }
    .products-container {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: auto auto;
    }
    footer{
        flex-direction:column-reverse;
        margin-top:10vh;
    }
   
}
@media (min-width:769px) and (max-width:1024px){
    .categorybar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scrollable {
        width: 90vw;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .inner-div{
        margin:0px 10px;
    }
    .category1-heading, .category2-heading {
        margin-left: 40px;
        margin-right: auto;
    }
    .products-container {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: auto auto;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    .categorybar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scrollable {
        width: 90vw;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .inner-div{
        margin:0px 10px;
    }
    .category1-heading, .category2-heading {
        margin-left: 70px;
        margin-right: auto;
    }
    .products-container {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin: auto auto;
    }
        
}